/* styles/globals.css */

.appContainer {
    display: flex;   
    height: 100%;
  }
.sidebarContainer{
  display: flex;
  flex-direction: row;
  background-color: white;
  height: 100%;
  width: 100%;
}
  .sidebarContent {
    width: 300px;
  }
  .pageContent {
    width: 100%;
    padding-right: 20px; /* 사이드바 너비 + 패딩 */
    
  }
  