/* styles/globals.css */

.appContainer {
    display: flex;   
  }
  .sidebarContent {
    flex-grow : 1;
    height: 2316px;
  }
  .pageContent {
    flex : 1;
    flex-grow: 10;
    margin-left: 0; /* 사이드바 너비 + 패딩 */

  }
  